/vendor/
node_modules/

# Logs

npm-debug.log
yarn-error.log

# Laravel 4 specific

bootstrap/compiled.php
app/storage/

# Laravel 5+ / Lumen

public/storage
public/hot

# Public path alternativa

public_html/storage
public_html/hot

# Storage / cache / keys

/storage/*.key
/storage/pail

# Build

/public/build

# Env files

.env
.env.backup
.env.production

# Config / local

Homestead.yaml
Homestead.json
docker-compose.override.yml
auth.json

# Cache / testes

.phpunit.result.cache
.phpactor.json

# IDEs

/.idea
/.vscode

# Vagrant

/.vagrant
